{% set url = app.request.getSchemeAndHttpHost() %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Letter</title>

        <!-- Normalize or reset CSS with your favorite library -->
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">#}

        <!-- Load paper.css for happy printing -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

        <link rel="stylesheet" href="{{ url ~ asset('assets/css/document/jscommerce/receipt/receipt.css') }}" />
    </head>

    <!-- Set "A5", "A4" or "A3" for class name -->
    <!-- Set also "landscape" if you need -->
    <body class="letter">

        <!-- Each sheet element should have the class "sheet" -->
        <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
        {% for row in data %}
            <section class="sheet padding-10mm">
                <div class="invoice-box">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                        <thead>
                            <tr class="top">
                                <th colspan="4">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="title">
                                                    <img src="{{ url ~ asset('assets/img/various/logo@265.png') }}" style="width:100%; max-width:300px;">
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>                                                
                                                    Folio #: {{ row.folio }}<br>
                                                    {{ row.status }}<br>
                                                    {{ row.date | date("d M Y") }}<br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                            </tr>
                            <tr class="information">
                                <th colspan="4">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{ company.streetName ~ ' ' ~ company.numExt }}<br>
                                                    {{ company.neighborhood }}<br>
                                                    {{ company.state ~ ', ' ~ company.postalCode }}
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>                                                
                                                    {{ row.name }}<br>
                                                    {{ row.customer.phone }}<br>
                                                    {{ row.customer.email }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                            </tr>                        
                        </thead>                    

                        <tr class="heading">
                            <td class="num"></td>
                            <td class="quantity">Cantidad</td>
                            <td>Producto</td>
                            <td>Precio</td>
                        </tr>

                        {% for row in row.items %}
                            <tr class="item">
                                <td class="num">{{ loop.index }}</td>
                                <td class="quantity">{{ row.quantity }}</td>
                                <td>{{ row.name }}</td>
                                <td>${{ row.total | number_format(2, '.', ',') }}</td>
                            </tr>               
                        {% endfor %}

                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                Subtotal: ${{ row.subTotal | number_format(2, '.', ',') }}<br>
                                Descuento: ${{ row.discount | number_format(2, '.', ',') }}<br>
                                Total: ${{ row.total | number_format(2, '.', ',') }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        {% endfor %}
    </body>

    <script type="text/javascript">
         var data= {{ data | json_encode | raw }}, company = {{ company | json_encode | raw }};;
         {#window.setTimeout("window.print();", 1000);#}
    </script>

</html>