<html>
    <head>
        <title>JsCommerce - Notificaci&oacute;n</title>
        <meta charset="UTF-8">        
    </head>
    <body style="font: 14px 'Open Sans', sans-serif; font-weight: normal; line-height: 23px;">
        Bienvenido(a) a JsCommerce <b>{{ fullName }}</b>.<br /><br />
        Recibimos una notificación de registro en nuestro portal de este correo electrónico, por favor da clic en el siguiente link para completar tu registro y activar tu cuenta:<br /><br />
        Link de activación: <b>{{ Link }}</b><br />
        <br /><br />
        Si has recibido por error este correo te pedimos que lo borres inmediatamente, gracias.<br />        
        <br /><br />        
    </body>
</html>