<html>
    <head>
        <title>Notificaci&oacute;n</title>
        <meta charset="UTF-8">
    </head>
    <body style="font: 14px 'Open Sans', sans-serif; font-weight: normal; line-height: 23px;">
        Notificación de recuperación de contraseña.<br /><br />
        Por favor accede al siguiente link para proceder a la recuperación de tu constraseña:<br />
        <b>{{ link|raw }}</b><br />
        Fecha de solicitud: {{ requestDate }}<br /><br />
        Si has recibido por error este correo te pedimos que lo borres inmediatamente, gracias.<br />
        <br /><br />
    </body>
</html>