{% set url = app.request.getSchemeAndHttpHost() %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Etiqueta</title>

        <!-- Bootstrap -->        
        <link rel="stylesheet" href="{{ url ~ asset('assets/css/bootstrap.basics.css') }}" />        

        <!-- Load paper.css for happy printing -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

        <link rel="stylesheet" href="{{ url ~ asset('assets/css/document/radesa/receipt/label.css') }}" />        

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url ~ asset('assets/css/document/radesa/receipt/label.css') }}" />
        <script src="{{ url ~ asset('assets/js/jscommerce/shared/JsBarcode.all.min.js') }}"></script>
    </head>

    <!-- Set "A5", "A4" or "A3" for class name -->    
    <body class="label-radio">

        <!-- Each sheet element should have the class "sheet" -->
        <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
        {% for row in data %}
            <section class="sheet padding-1mm">
                <div class="invoice-box">
                    {# ETIQUETA 1 #}
                    <div class="label-0 label-1">
                        {{ include('@documentViews/receipt/labelModA.html.twig') }}
                    </div>
                    {# ETIQUETA 2 #}
                    <div class="label-0 label-2">
                        <div class="float-left" style="width: 10mm;"><i class="fa fa-3x fa-radiation mr-2" style="background-color: yellow;"></i></div>
                        <div class="float-right" style="width: 75mm;">
                            <table class="border-0 w-100" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr style="font-size: 14px;">
                                        <td><b>{{ row.name }}</b></td>                                        
                                        <td><b>{{ row.folio }}/{{ row.sequence }}</b>
                                    </tr>
                                    <tr style="font-size: 11px;">
                                        <td><b>Actividad:</b> {{ row.quantity }} {{ row.unitMeasureBulkSaleCode }} ({{ row.quantity * 37 }} MBq)</td>
                                        <td>{{ row.volume }} ml</td>
                                    </tr>
                                    <tr style="font-size: 11px;">
                                        <td><b>Calibración:</b> {{ row.calibrationDate | date("d M Y") }}</td>
                                        <td>{{ row.calibrationDate | date("H:i") }} </td>
                                    </tr>                                
                                </tbody>                            
                            </table>
                        </div>
                    </div>
                    {# ETIQUETA 3 #}
                    <div class="label-0 label-3 p-0">
                        <div class="label-3-l float-left" style="width: 60mm; border-right: 2px solid">
                            <i class="fa fa-2x fa-radiation mr-2" style="background-color: yellow; position: absolute;"></i>
                            <table class="border-0 w-100" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr style="font-size: 14px;">
                                        <td colspan="2" class="text-center" style="padding-left: 34px;"><b>{{ row.name }}</b></td></tr>
                                    <tr style="font-size: 12px;">
                                        <td colspan="2" class="text-center" style="padding-left: 34px;"><b>No: {{ row.folio }}/{{ row.sequence }}</b>
                                    </tr>
                                    <tr style="font-size: 12px;">
                                        <td colspan="2" class="text-center" style="padding-left: 34px;"><b> mCi: {{ row.quantity }}  MBq: {{ row.quantity * 37 }}</b></td>                                        
                                    </tr>
                                    <tr style="font-size: 12px;">
                                        <td colspan="2"><b>Calibración:</b> {{ row.calibrationDate | date("d M Y H:i") }}</td>                                        
                                    </tr>
                                    <tr style="font-size: 12px;">
                                        <td><b>Lote:</b> {{ row.lot }} </td>
                                        <td><b>Vol:</b> {{ row.volume }} ml </td>
                                    </tr>
                                    <tr style="font-size: 12px;">
                                        <td colspan="2"><b>Exp:</b> {{ row.expirationDate | date("d M Y H:i") }}</td>
                                    </tr>
                                </tbody>                            
                            </table>
                        </div>
                        <div class="label-3-r float-right text-center pt-2" style="width: 27mm; font-size: 12px">
                            <div class="pb-1" style="background-color: {{ row.attributeValues.producto_color ?? '' }}"><b>{{ row.name }}</b></div>
                            <div class="pb-1"><b>{{ row.quantity }} mCi</b></div>
                            <div class="pb-1">{{ row.calibrationDate | date("d M Y") }}</div>
                            <div>{{ row.calibrationDate | date("H:i") }}</div>
                        </div>
                    </div>
                    {# ETIQUETA 1.1 #}
                    <div class="label-0 label-1 mb-0 pb-0">
                        {{ include('@documentViews/receipt/labelModA.html.twig') }}
                    </div>
                </div>
            </section>
        {% endfor %}
    </body>

    <script type="text/javascript">
        var data = {{ data | json_encode | raw }}, company = {{ company | json_encode | raw }}; ;
        data.forEach(function(d){
            JsBarcode("#barcode-"+d.folio+'-'+d.sequence, d.folio+'/'+d.sequence, { lineColor: "#000000",displayValue: false, width: 1.6, height: 20, margin: 0 });
        })
        
        {#window.setTimeout("window.print();", 1000);#}
    </script>

</html>