<table class="border-0" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="top">
            <th colspan="2" class="text-center">                                    
                <img class="float-left" src="{{ url }}/{{ row.logoHeader }}">
                <i class="fa fa-2x fa-radiation float-right" style="background-color: yellow;"></i>                                    
            </th>
        </tr>                                
        <tr>                                
            <th colspan="2" class="text-center">
                <div class="label-item-name" style="background-color: {{ row.attributeValues.producto_color ?? '' }}">{{ row.name }}</div>
            </th>                                
        </tr>                                                                                                                  
    </thead>
    <tbody> 
        <tr>
            <td style="max-width:310px;"> 
                <table style="table-layout: fixed; width:318px;">
                    <tr>
                        <td><b>Estudio:</b> {{ row.attributeValues.paciente_estudio ?? '' }}</td>                                        
                        <td><b>No.: </b>{{ row.folio }}/{{ row.sequence }}  </td> {# TODO DEBE SER EL NÚMERO DE ENVÍO QUE SE HAYA PROGRAMADO#}
                    </tr>
                    <tr>
                        <td><b>Actividad:</b> {{ row.quantity }} {{ row.unitMeasureBulkSaleCode }} ({{ row.quantity * 37 }} MBq)</td>
                        <td>{{ row.volume }} ml</td>
                    </tr>
                    <tr>
                        <td><b>Calibración:</b> {{ "now" | date("d F Y") }}</td>
                        <td>{{ row.calibrationDate | date("H:i") }} </td>
                    </tr>
                    <tr>
                        <td><b>Lote:</b> {{ row.lot }}</td>
                        <td><b>EXP:</b> {{ row.expirationDate | date("d/m/y H:i") }} </td>
                    </tr>
                    <tr><td colspan="2" ><b>Paciente:</b> {{ row.attributeValues.paciente_nombre ?? ''}} </td></tr>
                    <tr><td colspan="2"><b>Fecha de envío:</b> {{ row.shipmentDate | date("d F Y H:i") }}  </td></tr>
                    <tr style="font-size: 12px;">
                        <td colspan="2" style="height:53px">
                            <p class="label-customer-address">{{ row.customer.name }}, {{ row.customer.shippingAddress.streetName ~ ' #' ~ row.customer.shippingAddress.numExt }}
                                {{ row.customer.shippingAddress.neighborhood }}, {{ row.customer.shippingAddress.town }}, CP. {{ row.customer.shippingAddress.postalCode }} {{ row.customer.shippingAddress.city }}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 30px !important;max-width: 30px;">
                <div style="transform: rotate(90deg);">
                    <svg id="barcode-{{row.folio~'-'~row.sequence}}"></svg>
                </div>
            </td>
        </tr>        
    </tbody>
    <tfoot>                            
        <tr style="font-size: 8px;">
            <td colspan="2" class="text-center font-weight-bold pt-1" style="line-height: 140%; padding-right: 28px;">
                {{ company.legalName }} {{ company.streetName ~ ' #' ~ company.numExt }} Col. {{ company.neighborhood }} {{ company.town }}, CP. {{ company.postalCode }} 
                {{ company.city }} Tel: {{ company.contactPhone }}
            </td>            
        </tr>        
    </tfoot>
</table>                        
