{% set url = app.request.getSchemeAndHttpHost() %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Recibo</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- Normalize or reset CSS with your favorite library -->
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">#}

        <!-- Load paper.css for happy printing -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

        <link rel="stylesheet" href="{{ url ~ asset('assets/css/document/radesa/receipt/receipt.css') }}" />
    </head>

    <!-- Set "A5", "A4" or "A3" for class name -->    
    <body class="letter landscape">

        <!-- Each sheet element should have the class "sheet" -->
        <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
        {% for row in data %}
            <section class="sheet padding-10mm">
                <div class="invoice-box">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr class="top">
                                <th colspan="3" class="text-center">
                                    <div class="w100 text-center mt-1" style="font-size: 2rem;">Recibo</div>
                                    <img class="mb-2" src="{{ url ~ '/' ~ row.logoHeader }}">                                    
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {# TODO DEBE SER LA FECHA DE ENVÍO QUE SE HAYA PROGRAMADO#}
                                    Fecha: {{ "now" | date("d F Y") }}
                                </th>                                
                                <th class="text-right" colspan="2">
                                    {# TODO DEBE SER EL NÚMERO DE ENVÍO QUE SE HAYA PROGRAMADO#}
                                    No. de control: ? <br>                                    
                                </th>
                            </tr>
                            <tr class="information">
                                <th class="w-50">
                                    {{ company.legalName }}<br>
                                    {{ company.streetName ~ ' #' ~ company.numExt }}<br>
                                    Col. {{ company.neighborhood }}<br>
                                    Alcaldía {{ company.town }}, CP. {{ company.postalCode }} {{ company.city }}<br>
                                    No. de Licencia: 
                                </th>
                                <th class="w-50 text-right" colspan="2">
                                    {{ row.customer.name }}<br>
                                    {{ row.customer.shippingAddress.streetName ~ ' #' ~ row.customer.shippingAddress.numExt }}<br>
                                    Col. {{ row.customer.shippingAddress.neighborhood }}<br>
                                    Alcaldía {{ row.customer.shippingAddress.town }}, CP. {{ row.customer.shippingAddress.postalCode }} {{ row.customer.shippingAddress.city }}<br>
                                    No. de Licencia: 
                                </th>
                            </tr>                        
                        </thead>
                        <tbody>                        

                            <tr>
                                <td colspan="3" class="" style="padding: 0px">
                                    <table class="table-rows">
                                        <tr class="heading">
                                            <td class="num">No.</td>                            
                                            <td>Descripción</td>                            
                                            <td class="quantity">Cantidad</td>
                                            <td>Actividad</td>
                                            <td>Fecha Calibración</td>
                                            <td>Lote</td>
                                        </tr>

                                        {% for row in row.items %}
                                            <tr class="item">
                                                <td class="num">{{ loop.index }}</td>
                                                <td>{{ row.name }}</td>
                                                <td class="quantity">{{ row.quantity }}</td>                                
                                                <td></td>
                                                <td></td>
                                                <td>{{ row.lot }}</td>
                                            </tr>               
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            
                            <tr>
                                <td colspan="3" style="padding: 40px 0px 0px 0px;">                                    
                                    <table class="border-left-0 border-right-0 border-top-0 font-weight-bold" >                                       
                                        <tr class="border-top-0">
                                            <td class="border-left-0 text-center border-right-0 border-bottom-0" style="width: 40%;">Firma responsable de envío</td>
                                            <td class="border-0 border-top-0"> </td>
                                            <td class="border-right-0 text-center border-left-0 border-bottom-0" style="width: 40%;">Nombre y firma de responsable recepción</td>
                                        <tr>
                                        <tr><td colspan="3" class="border-0">&nbsp;</td></tr>
                                        <tr class="border-top-0">
                                            <td class="border-0" style="width: 40%;">&nbsp;</td>
                                            <td class="border-0"> </td>
                                            <td class="border-right-0 text-left" style="width: 40%;">Fecha y Hora:</td>
                                        <tr>
                                    </table>
                                    <br />
                                </td>                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        {% endfor %}
    </body>

    <script type="text/javascript">
        var data = {{ data | json_encode | raw }}, company = {{ company | json_encode | raw }}; ;
        {#window.setTimeout("window.print();", 1000);#}
    </script>

</html>