{#
NOTAS PARA DISEÑO: 
    1. Las imagenes que se utilizen al final de cada página trabajarlas con el estilo "position: absolute" ya que hay un bug y ocasiona desplazamientos de la hoja que solo se ven en el PDF.
#}
{#{% set assets = data.assetsPhysicalPath is defined ? data.assetsPhysicalPath : asset('assets/img/order/'~data.folder~'/') %} 
{% set baseAssets = data.baseAssetsPhysicalPath is defined ? data.baseAssetsPhysicalPath : asset('assets/') %} 
{% set viewPath = '@appViews/order/'~data.folder %} #}

<html>
    <head>        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Remisión</title>        
        {# STYLES #}        
        {#<link rel="stylesheet" href="{{assets}}cotizacion.css" />#}
        {# PLUGINS #}        
        {#<script src="{{baseAssets}}/js/sunergy/shared/util.js"></script>#}
        {% block styles %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
    <script>
        var data = {{ data | json_encode | raw  }};
    </script>    
    {% block scripts %} {% endblock %}
</html>