<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Letter</title>

        <!-- Normalize or reset CSS with your favorite library -->
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">#}

        <!-- Load paper.css for happy printing -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

        <!-- Set page size here: A5, A4 or A3 -->
        <!-- Set also "landscape" if you need -->
        <style>@page { size: letter }</style>
        <style>

            /* INICIA ESTILO DE TEMPLATE - https://github.com/sparksuite/simple-html-invoice-template */
            body{
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                text-align:center;
                color:#777;
            }

            body h1 {
                font-weight:300;
                margin-bottom:0px;
                padding-bottom:0px;
                color:#000;
            }

            body h3{
                font-weight:300;
                margin-top:10px;
                margin-bottom:20px;
                font-style:italic;
                color:#555;
            }

            body a{
                color:#06F;
            }

            .invoice-box{
                max-width:800px;
                margin:auto;
                padding:15px;
                border:1px solid #eee;
                {#box-shadow:0 0 10px rgba(0, 0, 0, .15);#}
                font-size:16px;
                line-height:24px;
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color:#555;
                height: calc(100% - 30px);
            }

            .invoice-box table{
                width:100%;
                line-height:inherit;
                text-align:left;
                page-break-inside:auto;
            }

            .invoice-box table td{
                padding:5px;
                vertical-align:top;
            }            

            .invoice-box table tr td:nth-child(3){
                text-align:right;
            }

            .invoice-box table tr.top table td{
                padding-bottom:20px;
            }

            .invoice-box table tr.top table td.title{
                font-size:45px;
                line-height:45px;
                color:#333;
            }

            .invoice-box table tr.information table td{
                padding-bottom:40px;
            }

            .invoice-box table tr.heading td{
                background:#eee;
                border-bottom:1px solid #ddd;
                font-weight:bold;
            }

            .invoice-box table tr.details td{
                padding-bottom:20px;
            }

            .invoice-box table tr.item td{
                border-bottom:1px solid #eee;
            }

            .invoice-box table tr.item.last td{
                border-bottom:none;
            }

            .invoice-box table tr.total td:nth-child(3){
                border-top:2px solid #eee;
                font-weight:bold;
            }

            @media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }

                .invoice-box table tr.information table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }
            }

            /* TERMINA ESTILO DE TEMPLATE */

            /* INICIAR ESTILOS MODIFICADOS */

            .sheet {                
                height: auto !important; /* Con esto no se corta el contenido a la hora de imprimir, si se quita se vera completamtente del tamaño de la hoja que se elija con paper.css pero estará cortado el contenido */
            }            

            /* Modificamos margenes ya que cuando se genera más de una hoja por el contenido los márgenes superior e inferior no se respetan como en la primer página */           
            @media print {
                @page {

                    margin-top: 10mm; 
                    margin-bottom: 10mm; 
                }
                @page :first {
                    counter-reset: page 1;
                    margin-top: 0mm; 
                }                
            }

        </style>
    </head>

    <!-- Set "A5", "A4" or "A3" for class name -->
    <!-- Set also "landscape" if you need -->
    <body class="letter">

        <!-- Each sheet element should have the class "sheet" -->
        <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
        <section class="sheet padding-10mm">
            <div class="invoice-box">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                    <thead>
                        <tr class="top">
                            <th colspan="3">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="title">
                                                <img src="{{ asset('assets/img/various/logo@265.png') }}" style="width:100%; max-width:300px;">
                                            </td>
                                            <td></td>
                                            <td>                                                
                                                Remisión #: 123<br>
                                                Creada: January 1, 2015<br>
                                                Fecha de envío: February 1, 2015<br>                                                                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </th>
                        </tr>
                        <tr class="information">
                            <th colspan="3">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Sparksuite, Inc.<br>
                                                12345 Sunny Road<br>
                                                Sunnyville, TX 12345
                                            </td>
                                            <td></td>
                                            <td>
                                                Acme Corp.<br>
                                                John Doe<br>
                                                john@example.com
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </th>
                        </tr>                        
                    </thead>                    

                    <tr class="heading">
                        <td width="50px">#</td>
                        <td>Item</td>
                        <td>Price</td>
                    </tr>

                    {% for i in 1..50 %}
                        <tr class="item">
                            <td>{{ i }}</td>
                            <td>Website design</td>
                            <td>$300.00</td>
                        </tr>               
                    {% endfor %}

                    <tr class="total">
                        <td></td>
                        <td></td>
                        <td>
                            Total: $385.00
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </body>

    <script type="text/javascript">window.setTimeout("window.print();", 1000);</script>
</html>